@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --first-color: red;
    --font-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form {
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    padding: 70px 30px;
    /* background-color: var(--first-color); */
    box-shadow: 0 0 50px var(--first-color);
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
}

.input-box {
    margin: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    height: 40px;
    /* width: 300px; */
    border-bottom: 2px solid;
    align-items: center;
    justify-content: center;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.input-group label {
    position: absolute;
    transition: 0.3s;
    top: -10px;
}

.input-group input {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
}

.input-box.focus label {
    font-size: 12px;
    top: -36px;
}

.login-button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    background-color: var(--first-color);
    box-shadow: 0 0 10px var(--first-color);
    font-weight: 400;
}

.sign-txt {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.sign-link {
    text-decoration: none;
    color: var(--first-color);
}

.sign-link:hover {
    text-decoration: underline;
}

.form {
    animation: animate 1s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}
